/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html {
    font-family: 'lato', sans-serif;
    font-size: 100%;
}
body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #dadbd3 15%,
        #dadbd3 100%
    );
}
i {
    color: #b1b1b1;
    cursor: pointer;
}
ul {
    list-style: none;
}
/* ROOT APP-JS */
.container {
    width: 90%;
    min-width: 1000px;
    height: 95vh;
    background-color: lightgray;
    margin: 20px auto;
}
    /* NAV */
.nav-bar {
    display: flex;
    height: 50px;
    background-color: #eaeaea;
}
        /* User-side */
.user-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    border-right: 1px solid gray;
}
.avatar {
    display: flex;
    align-items: center;
}
.avatar img {
    width: 3rem;
    padding: 2px;
    border-radius: 2rem;
    cursor: pointer;
}
.icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

        /* contacts-side */
.contacts-side {
    display: flex;
    width: 60%;
}
.contacts-icons {
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 10%;
}
    /* NAV */
    /* MENU */
.menu-container {
    width: 100%;
    height: 95vh;
    display: flex;
}
        /* menu-left */
.menu-left {
    height: calc(100% - 50px);
    width: 40%;
    border-right: 1px solid black;
    background-color: #f4f4f4;
}
        /* Notifications */
.notifications {
    display: flex;
    background-color: #8edafc;
    align-items: center;
    padding: .75rem;
}
.notifications i {
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    padding: 0.9rem 0.7rem;
}
.notif-actions {
    margin-left: 1rem;
}
        /* Search-bar */
.search {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #f4f4f4;
    padding: 5px;
}
.search-bar {
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    border: 1px solid #b1b1b1;
    padding: 5px;
}

.search-box {
    width: 100%;
    border: 0;
    font-size: 1rem;
    margin-left: .5rem;
}
        /* Contacts */
.contacts {
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contact-card {
    display: flex;
    align-items: center;
}
.contact-img {
    width: 3rem;
    border-radius: 50%;
}
.contact-name {
    font-size: 1rem;
}
.last-msg {
    color: lightgray;
    font-size: .8rem;
}
    /* User-menu */
.main-screen-container {
    width: 60%;
    height: calc(100% - 50px);
}
.main-msg-screen {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 50px);
}
.user-input {
    height: 50px;
    background-color: white;
}
.msg-input {
    width: 80%;
    height: 80%;
}