<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
    <!-- app vue-js -->
   <div id="root">
       <div class="container">
           <!-- Nav-bar -->
           <div class="nav-bar">
               <!-- User-side -->
               <div class="user-side">
                   <div class="avatar">
                       <img src="img/avatar_io.jpg" alt="user image">
                       <span>Sofia</span>
                   </div>
                   <div class="icons">
                       <i class="fas fa-circle-notch"></i>
                       <i class="fas fa-comment-alt"></i>
                       <i class="fas fa-ellipsis-v"></i>
                   </div>
               </div>
               <!-- Contacts-side -->
               <div class="contacts-side">
                   <div class="avatar">
                       <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="Michele">
                    </div>
                    <div>
                        <span>{{ contacts[currentContact].name }}</span>
                        <p>Ultimo accesso oggi alle 12.00</p>
                    </div>
                    <div class="contacts-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
               </div>

           </div>
           <div class="menu-container">
               <!-- Menu-left -->
               <div class="menu-left">
                    <div class="notifications">
                        <i class="fas fa-bell-slash"></i>
                        <div class="notif-actions">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search-bar">
                            <i class="fas fa-search"></i>
                            <input class="search-box"  type="search" name="" id="" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- Contacts -->
                    <ul class="contacts">
                        <li 
                        v-for="(element, index) in contacts" class="contact-card"
                        :class="{'active-contact' : currentContact === index}"
                        @click="showMsgs(index)"
                        >
                            <img class="contact-img" :src="'img/avatar'+ element.avatar + '.jpg'" alt="element.name">
                            <div>
                                <div class="contact-name">
                                    {{ element.name }}
                                <div>
                                <div class="last-msg">
                                    {{ element.messages[element.messages.length-1].message }}
                                </div>
                                <div class="last-msg-date">
                                    {{ element.messages[element.messages.length-1].date }}
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
               <!-- Main-scrren-messages -->
               <div class="main-screen-container">
                   <div class="main-msg-screen">
                       <div
                       v-for="(element, index) in contacts[currentContact].messages"
                       :class="element.status"   
                       class="messages sent">
                           <div class="message-box">
                               <div class="message-text">
                                    {{element.message}}
                               </div>
                               <div class="message-time">
                                    {{element.date}}
                                    <!-- 12:00 -->
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- User-input -->
                   <div class="user-input">
                        <div class="input-action">
                            <i class="far fa-smile"></i>
                        </div>
                        <input class="msg-input" type="text" placeholder="Scrivi un messaggio">
                        <div class="input-action">
                            <i class="fas fa-microphone"></i>
                        </div>
                   </div>
               </div>
           </div>
       </div>

   </div>
   <!-- script -->
    <script src="js/data.js"></script>
</body>
</html>